@import url('index.css');

:root {
    --black: #1F1F21;
    --white: #F3F3F3;
    --yellow: #FED700;
    --dark-gray: #353638;
    --gray: #50545D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geist', serif;
    color: var(--white);
}

html, body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 5rem;
    margin-bottom: 50px;
    position: absolute;
    top: 100px;
    color: var(--yellow);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.btn {
    position: relative;
    border: none;
    padding: 70px 100px;
    font-size: 3.0rem;
    font-weight: bold;
    border-radius: 20px;
    transition: transform 0.2s;
    color: var(--white); 
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none; /* Elimina cualquier subrayado */
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px); /* Aplica el desenfoque */
    transition: filter 0.3s ease-in-out;
    z-index: 0;
    text-decoration: none; /* Elimina cualquier subrayado */
}

.tecnica::before {
    background-image: url('../images/Tecnica.jpg');
}

.tactica::before {
    background-image: url('../images/Tactica2.jpg');
}

.btn:hover::before {
    filter: blur(0px); /* Imagen clara al pasar el mouse */
}

.btn span {
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima */
    text-decoration: none; /* Elimina cualquier subrayado */
}

.btn:hover {
    transform: scale(1.07);
    filter: brightness(0.85); 
    filter: blur(0px)
}

.tecnica {
    background-image:url('../images/Tecnica.jpg');
    
}

.tactica {
    background-image: url('../images/Tactica2.jpg');
}