RewriteEngine On

# Redirigir todo excepto archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribir la URL a index.php?page=$1
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]